/* EXO 2 FONT (font-family: 'Exo 2', Arial, Helvetica, sans-serif;) */
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,700);

/* UBUNTU FONT (font-family: 'Ubuntu', Arial, Helvetica, sans-serif;) */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);

body {
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 19px;
	line-height: 1.4;
	color: #223344;
	background-color: #fff;
}

h1 {
	font-family: 'Exo 2', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 62px;
	line-height: 68px;
}


h3 {
	font-family: 'Exo 2', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 42px;
}